.main .contacts-section {
  background-image: url("/assets/images/contacts-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.main .contacts-section .image-container {
  display: grid;
  place-items: center;
}
.main .contacts-section .form-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.main .contacts-section .form-container .form-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 293px);
  grid-template-rows: auto 60px 60px 238px 60px;
  gap: 29px;
}
.main .contacts-section .form-container .form-wrapper h1 span {
  font-weight: 500;
  color: var(--primary);
}
.main .contacts-section .form-container .form-wrapper h1 {
  font-size: 50px;
  font-weight: 500;
  grid-row: 1/2;
  grid-column: 1/3;
}
.main .contacts-section .form-container .form-wrapper input:nth-child(2) {
  grid-row: 2/3;
  grid-column: 1/2;
}
.main .contacts-section .form-container .form-wrapper input:nth-child(3) {
  grid-row: 2/3;
  grid-column: 2/3;
}
.main .contacts-section .form-container .form-wrapper input:nth-child(4) {
  grid-row: 3/4;
  grid-column: 1/2;
}
.main .contacts-section .form-container .form-wrapper input:nth-child(5) {
  grid-row: 3/4;
  grid-column: 2/3;
}
.main .contacts-section .form-container .form-wrapper textarea {
  padding-top: 20px;
  resize: none;
  grid-row: 4/5;
  grid-column: 1/3;
}
.main .contacts-section .form-container .form-wrapper button {
  color: #000;
  background: var(--primary);
  font-size: 21px;
  font-weight: 500;
  border: none;
  grid-row: 5/6;
  grid-column: 1/3;
}
.main .contacts-section .form-container .form-wrapper input,
.main .contacts-section .form-container .form-wrapper textarea {
  border: 0.5px solid var(--primaryHover);
  background: transparent;
  padding-left: 20px;
  font-size: 21px;
  font-weight: 300;
}
