.main .home-section {
  background-image: url("/assets/images/home-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: 120px 1fr;
}
/* Nav */
.main .home-section .nav-main {
  margin: 0 100px;
  display: flex;
  align-items: center;
}
.main .home-section .nav-main .logo-container {
  flex: 1;
}
.main .home-section .nav-main .menu-container {
  display: flex;
  align-items: center;
}
.main .home-section .nav-main .menu-container li a {
  font-size: 25px;
  margin: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .home-section .nav-main .menu-container li a::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: var(--primary);
  transform: scale(0, 1);
  transition: transform 200ms ease-in;
}
.main .home-section .nav-main .menu-container li a:hover::after {
  transform: scale(1, 1);
}
.main .home-section .nav-main .menu-container li span {
  display: block;
  width: 2px;
  height: 50px;
  background: var(--primary);
}
.main .home-section .nav-main .menu-container li:nth-child(5) a::after,
.main .home-section .nav-main .menu-container li:nth-child(6) a::after {
  all: unset;
}
.main .home-section .nav-main .menu-container li:nth-child(5) a,
.main .home-section .nav-main .menu-container li:nth-child(6) a {
  margin-right: -10px;
}
/* Hero */
.main .home-section .hero-main {
  margin: 0 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}
.main .home-section .hero-main .hero-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main .home-section .hero-main .hero-text-container h1 {
  font-size: 80px;
  font-weight: 400;
  margin: 0;
}
.main .home-section .hero-main .hero-text-container h1 span {
  font-weight: 400;
  color: var(--primary);
}
.main .home-section .hero-main .hero-text-container p {
  font-size: 34px;
  font-weight: 100;
  margin-top: 0;
}
.main .home-section .hero-main .hero-text-container button {
  width: 280px;
  height: 59px;
  background: var(--primary);
  border-radius: 5px;
  font-size: 27px;
  font-weight: 400;
  border: none;
  color: #000;
  margin-top: 67px;
}
.main .home-section .hero-main .hero-image-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 80px;
}
