@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
@import "./home.css";
@import "./products.css";
@import "./contacts.css";

/* Variables */
:root {
  --primary: #dac404;
  --primary-hover: #dac5048d;
}

/* Defaults */
html,
body {
  padding: 0;
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Main */
.main {
  background: #000000;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
}
