.main .products-section {
  background-image: url("/assets/images/products-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: 200px 1fr;
}
.main .products-section h2 {
  font-size: 42px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .products-section h2 span {
  font-weight: 500;
  margin-left: 10px;
  color: var(--primary);
}
.main .products-section .products-list {
  display: grid;
  grid-template-columns: 1fr repeat(3, 260px) 1fr;
  grid-auto-rows: 300px;
  gap: 40px;
}
.main .products-section .products-list .product:nth-child(1) {
  grid-row: 1/2;
  grid-column: 2/3;
}
.main .products-section .products-list .product:nth-child(2) {
  grid-row: 1/2;
  grid-column: 3/4;
}
.main .products-section .products-list .product:nth-child(3) {
  grid-row: 1/2;
  grid-column: 4/5;
}
.main .products-section .products-list .product:nth-child(4) {
  grid-row: 2/3;
  grid-column: 2/3;
}
.main .products-section .products-list .product:nth-child(5) {
  grid-row: 2/3;
  grid-column: 3/4;
}
.main .products-section .products-list .product:nth-child(6) {
  grid-row: 2/3;
  grid-column: 4/5;
}
.main .products-section .products-list .product {
  border: 0.5px solid var(--primaryHover);
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto;
  cursor: pointer;
}
.main .products-section .products-list .product .burger-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease-in;
}
.main .products-section .products-list .product .burger-container p {
  font-size: 25px;
  font-weight: 300;
  margin: 0;
  margin-top: 10px;
}
.main .products-section .products-list .product .burger-container p span {
  color: var(--primary);
  font-weight: 300;
}
.main
  .products-section
  .products-list
  .product
  .burger-container
  .image-container {
  margin-top: 20px;
}
.main .products-section .products-list .product > .price-container {
  margin: 0 14px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  transition: all 200ms ease-in;
}
.main
  .products-section
  .products-list
  .product
  .price-container
  .image-container {
  cursor: pointer;
}
.main .products-section .products-list .product > .price-container p {
  font-size: 25px;
  font-weight: 400;
  color: var(--primary);
}
/* Hover */
.main .products-section .products-list .product:hover > .burger-container,
.main .products-section .products-list .product:hover > .price-container {
  opacity: 0;
}
.main .products-section .products-list .product:hover .hover-details {
  transform: scale(1);
}
/* End */
.main .products-section .products-list .product .hover-details {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: transform 200ms ease-in;
  transform: scale(0);
  z-index: 2;
  display: grid;
  grid-template-rows: 1fr auto;
}
.main
  .products-section
  .products-list
  .product
  .hover-details
  .price-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main
  .products-section
  .products-list
  .product
  .hover-details
  .price-container
  p:nth-child(1) {
  font-size: 25px;
  font-weight: 300;
  margin: 0;
}
.main
  .products-section
  .products-list
  .product
  .hover-details
  .price-container
  p:nth-child(1)
  span {
  color: var(--primary);
  font-weight: 300px;
}
.main
  .products-section
  .products-list
  .product
  .hover-details
  .price-container
  p:nth-child(2) {
  margin: 0;
  margin-top: 14px;
  font-size: 25px;
  font-weight: 400;
  color: var(--primary);
}
.main
  .products-section
  .products-list
  .product
  .hover-details
  .image-container {
  margin: 0 14px;
  margin-bottom: 20px;
  display: grid;
  justify-self: end;
}
